@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Josefin+Sans:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

/* Needed for mobile devices as they ignore body tags */
#site-wrapper {
    overflow-x: hidden;
}

h2 {
    font-size: 1.45rem;
    padding: 20px 0;
}

/* Navigation */
#header-logo {
    height: 40px;
    float: left;
    margin: 15px;
}

#menu-wrapper {
    background-color: rgb(20, 20, 20);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

/* Hamburger menu for mobile */
label[for="toggle"] {
    position: fixed;
    top: 25px;
    right: 25px;
    color: rgb(255, 255, 255);
}
#toggle, #toggle-label, #toggle-label i {
    display: none;
}

#menu {
    height: 70px;
    float: right;
    font-size: 120%;
}
#menu li {
    display: inline;
    line-height: 70px;
}
#menu li a {
    text-decoration: none;
    color: #fff;
    height: 70px;
    padding: 0 20px;
    display: inline-block;
}
#menu li a:hover {
    background-color: #fff;
    color: rgb(20, 20, 20);
}
/* End Nagivation */

/* Classes for all sections */
.section-content {
    padding: 40px 60px;
    font-size: 120%;
}
.section-content h1 {
    text-align: center;
    padding-bottom: 40px;
}
.section-black {
    background-color: rgb(20, 20, 20);
    color: white;
}

.hide {
    display: none;
}

.caption {
    font-weight: 700;
    padding: 10px 0;
}

.parallax-image {
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
}
/* End classes all sections */

/* The Band section */
#hero-image {
    background: url('../images/hero-image.webp') no-repeat center center;
    background-color: rgb(20, 20, 20);
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}

.image-text {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}
.image-span {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    background-color: rgba(20, 20, 20, 0.7);
    padding: 20px;
    margin: 10px;
    line-height: 104px;
}

#band-member-images {
    text-align: center;
    position: relative;
}
#band-member-images figure {
    display: inline-block;
    width: 20%;
    max-width: 300px;
    vertical-align: bottom;
}
#band-member-images img {
    display: block;
    width: 100%;
    transition: .2s
}
#band-member-images .caption{
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    color: rgb(20, 20, 20);
    padding: 0;
}
#band-member-images img:hover {
    width: 110%;
    opacity: 0.7;
}
#band-member-images img:hover + .hide {
    display: block;
}
/* End The Band section */

/* Greatest Hits section */
#greatest-hits-image {
    background-image: url('../images/greatest-hits-image.jpg');
    background-color: rgb(20, 20, 20);
}

#greatest-hits-videos {
    text-align: center;
    padding-top: 40px;
}
#greatest-hits-videos figure {
    display: inline-block;
    width: 32%;
    padding-right: 10px;
    vertical-align: top;
}
#greatest-hits-videos iframe {
    width: 100%;
    height: 300px;
}
#greatest-hits-videos p {
    text-align: left;
}
/* End Greatest Hits section */

/* Legacy section */
#legacy-image {
    background-image: url('../images/legacy-image.jpg');
    background-color: rgb(20, 20, 20);
}

#legacy-events {
    overflow: auto;
}
#legacy-events div {
    overflow: auto;
    clear: left;
}
#legacy-events img {
    width: 20%;
    min-width: 200px;
    max-width: 300px;
}

.img-left {
    float: left;
    clear: left;
    padding-top: 20px;
    margin: 0 20px 20px 0;
}
/* End legacy section */

/* Contact section */
#contact-image {
    background-image: url('../images/newsletter-image.jpg');
    background-color: rgb(20, 20, 20);
}

form {
    text-align: center;
    width: 100%;
}

.form-name {
    display: inline-block;
    width: 350px;
    margin: 0 auto;
}
.form-name label, #form-email label, #form-message label {
    display: block;
    text-align: left;
    font-weight: 600;
}
#form-email {
    width: 704px;
    margin: 0 auto;
}
#form-message {
    width: 704px;
    margin: 0 auto;
}
#form-message textarea{
    height: 150px;
}
#form-button {
    width: 700px;
    margin: 0 auto;
}

.text-input {
    background: rgb(255, 255, 255);
    color: rgb(20, 20, 20);
    width: 100%;
    height: 25px;
    margin: 10px 0;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 2px;
}
.text-input:hover {
    border-color: rgb(20, 20, 20);
}

#contact-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(20, 20, 20);
    color: #fafafa;
    display: block;
}
#contact-button:hover {
    background-color: rgb(235, 235, 235);
    color: rgb(20, 20, 20);
}

#google-maps {
    border: 0;
    width: 100%;
    height: 350px;
    vertical-align: top
}
/* End Contact section */

/* Footer */
footer {
    height: 140px;
    background-color:rgb(20, 20, 20);
    color: rgb(255, 255, 255);
}

.social-media {
    text-align: center;
    line-height: 140px;
}
.social-media > li {
    display: inline;
    font-size: 2rem;
    padding: 30px;
    vertical-align: bottom;
}
.social-media i {
    color: rgb(255, 255, 255);
}
.social-media a {
    text-decoration: none;
}
/* End Footer */

/* For tablet sized screens */
@media screen and (max-width: 1200px) {

    /* Change images */
    #hero-image {
        background-image: url('../images/hero-image-tablet.jpg');
    }
    .image-text {
        top: 30%;
    }

    #legacy-image {
        background-image: url('../images/legacy-image-tablet.jpg');
    }

    /* Change video width */
    #greatest-hits-videos figure {
        width: 48%;
    }

    /* Change social media padding */
    .social-media > li {
        padding: 20px;
    }
}

 /* For phone sized screens */
@media screen and (max-width: 850px) {

    /* Change padding for all sections */
    .section-content {
        padding: 40px 20px;
    }

    /* Change image */
    #hero-image {
        background-image: url('../images/hero-image-mobile.jpg');
        background-size: cover;
    }
    .image-span {
        font-size: 2rem;
    }

    /* Change Navigation */
    .nav-responsive {
        display: none;
    }
    #menu {
        float: none;
        margin-top: 70px;
        background-color:rgba(20, 20, 20, 0.7);
        height: auto;
    }
    #menu > li {
        display: block;
        text-align: center;
    }
    #menu > li a {
        padding: 0;
        width: 100%;
    }

    #toggle-label, #toggle-label i {
        display: initial;
    }
    #xmark {
        display: none;
    }
    #toggle:checked ~ .nav-responsive {
        display: initial;
    }

    /* Change video layout */
    #greatest-hits-videos figure {
        display: block;
        width: 100%;
    }
    #greatest-hits-videos figure p {
        margin-bottom: 20px;
    }

    /* Change Legacy image layout */
    .img-left {
        float: none;
    }

    /* Change Contact layout */
    .form-name {
        display: block;
        width: 100%;
    }
    #form-email, #form-message {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {

    .section-content {
        padding: 40px 20px;
    }
    #menu > li {
        line-height: 40px;
    }
    #menu > li a {
        height: 40px;
    }

    .social-media > li {
        padding: 10px;
    }
}